.page-content{
    width:100%;
    height:617px;
    .page-c{
        padding-top:50px;
        padding-bottom:25px;
        width:960px;
        height:524px;
        background: #ffffff;
        margin:0 auto;
        box-shadow: 0px 2px 2px 0px rgba(48, 37, 52, 0.2);
        .page-box{
            width:920px;
            height: 502px;
            margin: 0 auto;
            a{
                color:#333;
            }
            .left{
                width:260px;
                height:462px;
                padding-left:55px;
                padding-right:55px;
                padding-top:35px;
                margin-left: 50px;
                float: left;
                text-align: center !important;
                a:nth-of-type(1){
                    letter-spacing: 0.1em;
                    padding-bottom: 18px !important;
                    font-family: "Optima LT W01 Roman", "Palatino Linotype", "Book Antiqua", "Palatino", "serif" !important;
                    font-size: 16px !important;
                    color: #333 !important;
                    
                }
                form{
                    margin-top: 40px;
                    input{
                        height: 30px;
                        line-height: 30px;
                        padding: 0;
                        text-indent: 0 !important;
                        padding-left: 0 !important;
                        margin-bottom: 8px;
                        width: 100%;
                        border:0;
                        border-bottom: 1px solid #000;
                        box-sizing: border-box;
                        outline: none;
                        font-family: "Optima LT W01 Roman", "Palatino Linotype", "Book Antiqua", "Palatino", "serif" !important;
                        font-size: 16px !important;
                       
                    }
                    .submit{
                        cursor: pointer;
                        color: #fff;
                        align-content: center;
                        text-align: center;
                        margin: 35px auto;
                        display: block;
                        text-transform: uppercase;
                        white-space: pre-wrap;
                        height: auto !important;
                        min-height: 50px !important;
                        font-family: "Optima LT W01 Roman", "Palatino Linotype", "Book Antiqua", "Palatino", "serif" !important;
                        clear: both;
                        font-size: 16px !important;
                        background-color: #333 !important;
                        border: none !important;
                        box-shadow: none !important;
                        padding: 0 !important;
                        font-weight: normal;
                        border-radius: 0 !important;
                        letter-spacing: 0.1em;
                    }
                    .submit:hover{
                        opacity: .5;
                    }
                    .tishi{
                        letter-spacing: 0;
                        float: none;
                        text-align: left;
                        clear: both;
                        display: inline-block;
                        font-weight: normal;
                        padding-bottom: 0 !important;
                        padding-top: 6px !important;
                        font-family: "Optima LT W01 Roman", "Palatino Linotype", "Book Antiqua", "Palatino", "serif" !important;
                        color: #ff0059 !important;
                        font-size: 13px !important;
                    }
                }
                .s4{
                    height: 26px;
                    font-size: 12px;
                    min-height: 26px;
                    text-align: center;
                    margin-top: 1px;
                    border: 1px #e76468;
                    border-radius: 4.4px;
                    font-weight: normal;
                    padding: 10px;
                    line-height: 15px;
                    font-family: "Optima LT W01 Roman", "Palatino Linotype", "Book Antiqua", "Palatino", "serif" !important;
                    color: #ff0059 !important;
                    font-size: 13px !important;
                }
            }
            .right{
                float: right;
                padding-right:70px;
                .box-img{
                    position: relative;
                    a:hover{
                        text-decoration: underline;
                    }
                    a:nth-of-type(1){
                        position: absolute;
                        top: 7%;
                        margin-left: auto;
                        margin-right: auto;
                        left: 0;
                        right: 0;
                        color: #000 !important;
                        font-size: 19px !important;
                        text-transform: uppercase;
                        text-align: center !important;
                        font-family: "Optima LT W01 Roman", "Palatino Linotype", "Book Antiqua", "Palatino", "serif";
                    }
                    a:nth-of-type(2){
                        text-align: center !important;
                        position: absolute;
                        top: 23%;
                        margin-left: auto;
                        margin-right: auto;
                        left: 0;
                        right: 0;
                        color: #000 !important;
                        font-size: 13px !important;
                        width: 77%;
                        line-height: 1.1 !important;
                        cursor: pointer;
                    }
                    a:nth-of-type(3){
                        text-align: center;
                        box-sizing: border-box;
                        text-decoration: none;
                        font-size: 15px;
                        cursor: pointer;
                        padding: 14px 0 !important;
                        max-height: 50px;
                        position: absolute;
                        top: 78%;
                        right: 0;
                        border: 1px solid #000;
                        background-color: #000;
                        color: #fff !important;
                        text-transform: uppercase;
                        left: 0;
                        margin-left: auto;
                        margin-right: auto;
                        width: 100%;
                        max-width: 260px;
                        letter-spacing: 0.1em;
                    }
                }
                
            }
        }
    }
}



































// .page-content{
//     top:auto;
//     margin-top: 20px;
//     background: none;
//     padding-bottom: 30px;
//     width: 980px;
//     position: relative;
//     margin: 0 auto;
//     clear: both;
//     padding: 10px;
//     box-sizing: border-box;
//     font-family: "Optima LT W01 Roman", MS PGothic;
//     .primary-content{
//         width: 950px;
//         padding: 0 0 0 10px;
//         margin: 0;
//         background: #fff;
//         border: none;
//         box-shadow: 0px 2px 2px 0px rgba(48, 37, 52, 0.2);
//         float: right;
//         position: relative;
//         .gigya-layout-row{
//             display: flex;
//             padding-bottom: 5px;
//             margin: 0 auto;
//             padding: 0;
//             border: none;
//             color: inherit;
//             text-decoration: none;
//             width: auto;
//             float: none;
//             border-radius: 0;
//             font-size: 15px;
//             color: #4e515e;
//             text-align: left;
//             font-family: "Optima LT W01 Roman", "Palatino Linotype", "Book Antiqua", "Palatino", "serif";
//             box-sizing: content-box;
//             position: initial;
//             clear: both;
//             width:920px;
//             height:520px;
//             background: pink;
//         }
//    }
// }