<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- inject:css -->
    <!-- endinject -->
</head>
<body>
    <!-- 头部 -->
    <div style="height:151px">
        <div class="header">
            <div class="header-top">
                <div class="left">
                    <ul>
                        <li>
                            <a href=""><span>中国大陆</span></a>
                        </li>
                        <li>
                            <a href=""><span>查找店铺</span></a>
                        </li>
                    </ul>
                </div>
                <div class="inner">
                    <a href=""><img src="../../../images/Pandora_Logo.svg" alt=""></a>
                </div>
                <div class="right">
                    <ul>
                        <li>
                            <a href=""><span>愿望清单</span></a>
                        </li>
                        <li>
                            <a href=""><span>购物车</span></a>
                        </li>
                        <li>
                            <a href="/login/login.html"><span>登录</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="hide-desktop">
                <div class="n-c inner-wrapper clearfix">
                    <nav>
                        <ul>
                            <li class="check">新品上市
                                <div class="menu-wrapper contener" style="top:50px;display: none;">
                                    <ul class="level-2_inner">
                                        <li>
                                            <ul class="firstmenucomponent flymenu_left ">
                                                <div class=first>
                                                    <li>
                                                        <a href="/zh/NEW/Autumn/">
                                                            秋季系列
                                                        </a>
                                                    </li>
                                                </div>
                                                <div>
                                                    <li>
                                                        <a href="https://cn.pandora.net/zh/collections/pre-autumn/">
                                                            初秋系列
                                                        </a>
                                                    </li>
                                                </div>
                                                <div class=last>
                                                    <li>
                                                        <a href="https://cn.pandora.net/zh/collections/shine/">
                                                            PANDORA SHINE系列
                                                        </a>
                                                    </li>
                                                </div>
                                            </ul>
                                        </li>
                                        <div class="forthmenucomponent flymenu_right">
                                            <div class="content-asset">
                                                <p><img alt="" src="https://cn.pandora.net/on/demandware.static/-/Sites-zh-CN-Library/default/dw309ecb52/images/flyout-new.jpg"
                                                        title="" /></p>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                            </li>
                            <li class="check">人气推荐
                                <div class="menu-wrapper contener" style="top:50px; display:none">
                                    <ul class="level-2_inner">
                                        <li>
                                            <ul class="firstmenucomponent flymenu_left ">
                                                <div class=first>
                                                    <li>
                                                        <a href="/zh/NEW/Autumn/">
                                                            秋季系列
                                                        </a>
                                                    </li>
                                                </div>
                                                <div>
                                                    <li>
                                                        <a href="https://cn.pandora.net/zh/collections/pre-autumn/">
                                                            初秋系列
                                                        </a>
                                                    </li>
                                                </div>
                                                <div class=last>
                                                    <li>
                                                        <a href="https://cn.pandora.net/zh/collections/shine/">
                                                            PANDORA SHINE系列
                                                        </a>
                                                    </li>
                                                </div>
                                            </ul>
                                        </li>
                                        <div class="forthmenucomponent flymenu_right">
                                            <div class="content-asset">
                                                <p><img alt="" src="https://cn.pandora.net/on/demandware.static/-/Sites-zh-CN-Library/default/dw309ecb52/images/flyout-new.jpg"
                                                        title="" /></p>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                            </li>
                            <li class="check">串饰
                                <div class="menu-wrapper contener" style="top:50px; display:none">
                                    <ul class="level-2_inner">
                                        <li>
                                            <ul class="firstmenucomponent flymenu_left ">
                                                <div class=first>
                                                    <li>
                                                        <a href="/zh/NEW/Autumn/">
                                                            秋季系列
                                                        </a>
                                                    </li>
                                                </div>
                                                <div>
                                                    <li>
                                                        <a href="https://cn.pandora.net/zh/collections/pre-autumn/">
                                                            初秋系列
                                                        </a>
                                                    </li>
                                                </div>
                                                <div class=last>
                                                    <li>
                                                        <a href="https://cn.pandora.net/zh/collections/shine/">
                                                            PANDORA SHINE系列
                                                        </a>
                                                    </li>
                                                </div>
                                            </ul>
                                        </li>
                                        <div class="forthmenucomponent flymenu_right">
                                            <div class="content-asset">
                                                <p><img alt="" src="https://cn.pandora.net/on/demandware.static/-/Sites-zh-CN-Library/default/dw309ecb52/images/flyout-new.jpg"
                                                        title="" /></p>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                            </li>
                            <li class="check">手链
                                <div class="menu-wrapper contener" style="top:50px; display:none;">
                                    <ul class="level-2_inner">
                                        <li>
                                            <ul class="firstmenucomponent flymenu_left ">
                                                <div class=first>
                                                    <li>
                                                        <a href="/zh/NEW/Autumn/">
                                                            秋季系列
                                                        </a>
                                                    </li>
                                                </div>
                                                <div>
                                                    <li>
                                                        <a href="https://cn.pandora.net/zh/collections/pre-autumn/">
                                                            初秋系列
                                                        </a>
                                                    </li>
                                                </div>
                                                <div class=last>
                                                    <li>
                                                        <a href="https://cn.pandora.net/zh/collections/shine/">
                                                            PANDORA SHINE系列
                                                        </a>
                                                    </li>
                                                </div>
                                            </ul>
                                        </li>
                                        <div class="forthmenucomponent flymenu_right">
                                            <div class="content-asset">
                                                <p><img alt="" src="https://cn.pandora.net/on/demandware.static/-/Sites-zh-CN-Library/default/dw309ecb52/images/flyout-new.jpg"
                                                        title="" /></p>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                            </li>
                            <li class="check">项链与吊坠
                                <div class="menu-wrapper contener" style="top:50px;display: none; left: -264px;">
                                    <ul class="level-2_inner">
                                        <li>
                                            <ul class="firstmenucomponent flymenu_left ">
                                                <div class=first>
                                                    <li>
                                                        <a href="/zh/NEW/Autumn/">
                                                            秋季系列
                                                        </a>
                                                    </li>
                                                </div>
                                                <div>
                                                    <li>
                                                        <a href="https://cn.pandora.net/zh/collections/pre-autumn/">
                                                            初秋系列
                                                        </a>
                                                    </li>
                                                </div>
                                                <div class=last>
                                                    <li>
                                                        <a href="https://cn.pandora.net/zh/collections/shine/">
                                                            PANDORA SHINE系列
                                                        </a>
                                                    </li>
                                                </div>
                                            </ul>
                                        </li>
                                        <div class="forthmenucomponent flymenu_right">
                                            <div class="content-asset">
                                                <p><img alt="" src="https://cn.pandora.net/on/demandware.static/-/Sites-zh-CN-Library/default/dw309ecb52/images/flyout-new.jpg"
                                                        title="" /></p>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                            </li>
                            <li class="check">戒指
                                <div class="menu-wrapper contener" style="top:50px; display: none; left: -352px;">
                                    <ul class="level-2_inner">
                                        <li>
                                            <ul class="firstmenucomponent flymenu_left ">
                                                <div class=first>
                                                    <li>
                                                        <a href="/zh/NEW/Autumn/">
                                                            秋季系列
                                                        </a>
                                                    </li>
                                                </div>
                                                <div>
                                                    <li>
                                                        <a href="https://cn.pandora.net/zh/collections/pre-autumn/">
                                                            初秋系列
                                                        </a>
                                                    </li>
                                                </div>
                                                <div class=last>
                                                    <li>
                                                        <a href="https://cn.pandora.net/zh/collections/shine/">
                                                            PANDORA SHINE系列
                                                        </a>
                                                    </li>
                                                </div>
                                            </ul>
                                        </li>
                                        <div class="forthmenucomponent flymenu_right">
                                            <div class="content-asset">
                                                <p><img alt="" src="https://cn.pandora.net/on/demandware.static/-/Sites-zh-CN-Library/default/dw309ecb52/images/flyout-new.jpg"
                                                        title="" /></p>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                            </li>
                            <li class="check">耳环
                                <div class="menu-wrapper contener" style="top:50px; display:none; left: -352px">
                                    <ul class="level-2_inner">
                                        <li>
                                            <ul class="firstmenucomponent flymenu_left ">
                                                <div class=first>
                                                    <li>
                                                        <a href="/zh/NEW/Autumn/">
                                                            秋季系列
                                                        </a>
                                                    </li>
                                                </div>
                                                <div>
                                                    <li>
                                                        <a href="https://cn.pandora.net/zh/collections/pre-autumn/">
                                                            初秋系列
                                                        </a>
                                                    </li>
                                                </div>
                                                <div class=last>
                                                    <li>
                                                        <a href="https://cn.pandora.net/zh/collections/shine/">
                                                            PANDORA SHINE系列
                                                        </a>
                                                    </li>
                                                </div>
                                            </ul>
                                        </li>
                                        <div class="forthmenucomponent flymenu_right">
                                            <div class="content-asset">
                                                <p><img alt="" src="https://cn.pandora.net/on/demandware.static/-/Sites-zh-CN-Library/default/dw309ecb52/images/flyout-new.jpg"
                                                        title="" /></p>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                            </li>
                            <li class="check">产品系列
                                <div class="menu-wrapper contener" style="top:50px; display:none; left: -293px;">
                                    <ul class="level-2_inner">
                                        <li>
                                            <ul class="firstmenucomponent flymenu_left ">
                                                <div class=first>
                                                    <li>
                                                        <a href="/zh/NEW/Autumn/">
                                                            秋季系列
                                                        </a>
                                                    </li>
                                                </div>
                                                <div>
                                                    <li>
                                                        <a href="https://cn.pandora.net/zh/collections/pre-autumn/">
                                                            初秋系列
                                                        </a>
                                                    </li>
                                                </div>
                                                <div class=last>
                                                    <li>
                                                        <a href="https://cn.pandora.net/zh/collections/shine/">
                                                            PANDORA SHINE系列
                                                        </a>
                                                    </li>
                                                </div>
                                            </ul>
                                        </li>
                                        <div class="forthmenucomponent flymenu_right">
                                            <div class="content-asset">
                                                <p><img alt="" src="https://cn.pandora.net/on/demandware.static/-/Sites-zh-CN-Library/default/dw309ecb52/images/flyout-new.jpg"
                                                        title="" /></p>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                            </li>
                            <li class="check">礼品
                                <div class="menu-wrapper contener" style="top:50px; display:none; left: -352px;">
                                    <ul class="level-2_inner">
                                        <li>
                                            <ul class="firstmenucomponent flymenu_left ">
                                                <div class=first>

                                                    <a href="/zh/NEW/Autumn/">
                                                        秋季系列
                                                    </a>

                                                </div>
                                                <div>
                                                    <li>
                                                        <a href="https://cn.pandora.net/zh/collections/pre-autumn/">
                                                            初秋系列
                                                        </a>
                                                    </li>
                                                </div>
                                                <div class=last>
                                                    <li>
                                                        <a href="https://cn.pandora.net/zh/collections/shine/">
                                                            PANDORA SHINE系列
                                                        </a>
                                                    </li>
                                                </div>
                                            </ul>
                                        </li>
                                        <div class="forthmenucomponent flymenu_right">
                                            <div class="content-asset">
                                                <p><img alt="" src="https://cn.pandora.net/on/demandware.static/-/Sites-zh-CN-Library/default/dw309ecb52/images/flyout-new.jpg"
                                                        title="" /></p>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                            </li>
                            <li class="check">灵感
                                <div class="menu-wrapper contener" style="top:50px; display:none; left: -350px;">
                                    <ul class="level-2_inner">
                                        <li>
                                            <ul class="firstmenucomponent flymenu_left ">
                                                <div class=first>
                                                    <li>
                                                        <a href="/zh/NEW/Autumn/">
                                                            秋季系列
                                                        </a>
                                                    </li>
                                                </div>
                                                <div>
                                                    <li>
                                                        <a href="https://cn.pandora.net/zh/collections/pre-autumn/">
                                                            初秋系列
                                                        </a>
                                                    </li>
                                                </div>
                                                <div class=last>
                                                    <li>
                                                        <a href="https://cn.pandora.net/zh/collections/shine/">
                                                            PANDORA SHINE系列
                                                        </a>
                                                    </li>
                                                </div>
                                            </ul>
                                        </li>
                                        <div class="forthmenucomponent flymenu_right">
                                            <div class="content-asset">
                                                <p><img alt="" src="https://cn.pandora.net/on/demandware.static/-/Sites-zh-CN-Library/default/dw309ecb52/images/flyout-new.jpg"
                                                        title="" /></p>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </nav>


                    <div class="header-search desktop search">
                        <img id="searchimg" class="searchimg" src="../../../images/search.jpg" alt="" />
                        <input type="text" id="q" name="q" class="search-input-field" value="" placeholder="搜索/输入产品ID"
                            autocomplete="off" autofocus />
                        <i class="close-search" id="i"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 包邮 -->
    <div class="wrapper-inside hidedesktop">
        <div class="pdp-top-content">
            <div class="html-slot-container homepage-slidesmain">
                <ul>
                    <li class="wt-delivery">
                        <p><a href="https://cn.pandora.net/zh/Delivery/delivery-information.html">购物满1500 元免运费</a></p>
                    </li>
                    <li class="wt-delivery">
                        <p><a href="https://cn.pandora.net/zh/Delivery/delivery-information.html">3个工作日内发货<br />
                                提供礼品包装</a></p>
                    </li>
                    <li class="last wt-delivery">
                        <p><a href="https://cn.pandora.net/zh/returns/Returns.html">七天无理由退换货</a></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
 
    <div class="main">
        <div class="main-center">
            <div class="left">
                <h1 class="cart-heading">您的购物车</h1>
                <div class="approachingpromo">
                    您只需消费多202.00 CNY便可享免费送货服务。
                </div>
                <table>
                        <thead>
                            <tr>
                                <th class="section-header sl-no image">商品</th>
                                <th class="section-header products product">商品</th>
                                <th class="section-header qty">Qty</th>
                                <th class="section-header header-total-price price">商品价格</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="first">
                                <td class="f-f">
                                    <img src="../../../images/ring1.jpg" alt="">
                                </td>
                                <td class="f-s">
                                    <div class="f-s-content">
                                        <p>种子圆形戒指</p>
                                        <ul>
                                            <li>
                                                <span>编号</span>
                                                <span class="span-r">167735CZ-50</span>
                                            </li>
                                            <li>
                                                <span>尺寸</span>
                                                <span class="span-r">50</span>
                                            </li>
                                            <li>
                                                <span>金属</span>
                                                <span class="span-r">18k金镀层925银芯</span>
                                            </li>
                                            <li>
                                                <span>宝石</span>
                                                <span class="span-r">立方氯化锆石</span>
                                            </li>
                                            <li>
                                                <span>颜色</span>
                                                <span class="span-r">No color</span>
                                            </li>
                                            <li>
                                                <span>材质</span>
                                                <span class="span-r">无其他材质</span>
                                            </li>
                                        </ul>
                                        <p>更改数据</p>
                                </td>
                                <td class="f-t">
                                    <div class="num-box">
                                        <i class="jiannum"></i>
                                        <input type="num" value="1">
                                        <i class="addnum"></i>
                                    </div>
                                </td>
                                <td class="f-f">
                                    <span class="price-total">
                                        1,298.00 CNY
                                    </span>
                                </td>
                                </div>
                            </tr>
                            
                        </tbody>

                </table>
                <div class="cart-footer">
                    <div id="promotion-vip-code" class="cart-coupon-code">
                        <div class="coupon-code-cart">
                            <label>
                                优惠劵
                            </label>
                            <div class="btn-cartcouponcode">
                                <input type="text" name="dwfrm_cart_couponCode" id="dwfrm_cart_couponCode">
                                <button type="submit" value="dwfrm_cart_addCoupon" name="dwfrm_cart_addCoupon" id="add-coupon">
                                    使用
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="cart-order-totals">
                        <table class="order-totals-table">
                            <tbody>
                                <tr class="order-subtotal">
                                    <td class="label">
                                        订单小计
                                    </td>
                                    <td class="value valueColumn">
                                        1,298.00 CNY
                                    </td>
                                </tr>
                                <tr class="order-shipping  first ">
                                    <td class="label">
                                        <span>运费:</span>
                                        快递：顺丰
                                    </td>
                                    <td class="value valueColumn hideussite">
                                        25.00 CNY
                                    </td>
                                    <td class="value valueColumn hideeurope">
                                        25.00 CNY
                                    </td>
                                </tr>
                                <tr class="order-total">
                                    <td class="label">总额</td>
                                    <td class="value valueColumn">1,323.00 CNY</td>
                                </tr>
                            </tbody>
                        </table>
                    </div> -->
                </div>
            </div>
            <div class="right">
                <p style="font-size: 14px; line-height: 20px; color: #190c26; text-transform: uppercase; margin-left: 10px; margin-bottom: 10px;">客户服务</p>
                <div class="helpContainer">
                    <p>
                        <span style="font-family: OptimaLTW01-Roman; font-size: 12px; line-height: normal;">请<a href="https://cn.pandora.net/on/demandware.store/Sites-zh-CN-Site/zh_CN/CustomerSupport-Show">点击此处</a>浏览常见问题及解答。<br>&nbsp;</span>
                    </p>
                    <p  style="margin-top: -21px;">
                        <span style="font-family: OptimaLTW01-Roman; font-size: 12px; line-height: normal;">如您有关于<span style="font-weight:bold;">PANDORA潘多拉官方网上商城</span>的查詢，请联系<a
                                href="https://cn.pandora.net/zh/contact-us/contact-us.html">客服团队</a>：<br>
                            &nbsp;</span>
                    </p>
                    <p style="margin-top: -17px;"><span style="font-family: OptimaLTW01-Roman; font-size: 12px; line-height: normal;">工作时间: 9:00-22:00 (公共假期除外)</span></p>
                    <span style="font-family: OptimaLTW01-Roman; font-size: 12px; line-height: normal;">(周一至周日)</span>
                    <p></p>
                    <span style="font-family: OptimaLTW01-Roman; font-size: 12px; line-height: normal;">客服邮箱 ﹕ <a href="mailto:cs.estore-cn@pandora.net">cs.estore-cn@pandora.net</a></span><br>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
    

    <!-- 邮箱 -->
    <div class="bottom-email">
        <div class="e-c">
            <div class="left">
                <div class="l-c">
                    <p>邮件订阅</p>
                    <p>注册并获取最新信息及优惠</p>
                    <p>第一时间了解新品上市，特别促销和品牌资讯</p>
                </div>
            </div>
            <div class="right">
                <form action="" method="post" novalidate="novalidate">
                    <input type="email" name="emailed" placeholder="填写您的电子邮箱" maxlength="50" class="email-signup" />
                    <button id="btnMale" class="btnmale" data-gender="Male" type="button">继续</button>
                </form>
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <div class="footer">
        <div class="inner-wrapper">
            <div id="linkFooter">
                <div class="content-asset">
                    <div class="toplinksBlock">
                        <p class="linkBlockHeadline">产品目录</p>
                        <ul>
                            <li><a href="https://cn.pandora.net/zh/new-jewellery/">新品上市</a></li>
                            <li><a href="https://cn.pandora.net/zh/charms/">串饰</a></li>
                            <li><a href="https://cn.pandora.net/zh/bracelets/">手链</a></li>
                            <li><a href="https://cn.pandora.net/zh/necklaces/">项链与吊坠</a></li>
                            <li><a href="https://cn.pandora.net/zh/rings/">戒指</a></li>
                            <li><a href="https://cn.pandora.net/zh/earrings/">耳环</a></li>
                            <li><a href="https://cn.pandora.net/zh/gifts-1/">礼品</a></li>
                        </ul>
                    </div>
                    <div class="toplinksBlock">
                        <p class="linkBlockHeadline">客户服务</p>
                        <ul>
                            <li><a href="https://cn.pandora.net/zh/Delivery/delivery-information.html">配送 </a></li>
                            <li><a href="https://cn.pandora.net/zh/returns/Returns.html">退换货政策</a></li>
                            <li><a href="https://cn.pandora.net/zh/bracelets/bracelet-size-guide/" target="_blank">尺寸指南</a></li>
                            <li><a href="https://cn.pandora.net/zh/contact-us/contact-us.html">联系我们</a></li>
                        </ul>
                        <p class="linkBlockHeadline">关于PANDORA</p>
                        <ul>
                            <li><a href="https://cn.pandora.net/zh/about-us/about-us.html">PANDORA公司</a></li>
                            <li><a href="https://stores.pandora.net/zh-cn">寻找PANDORA店铺</a></li>
                        </ul>
                    </div>
                    <div class="toplinksBlock">
                        <p class="linkBlockHeadline">我的账户</p>
                        <ul>
                            <li><a href="https://cn.pandora.net/on/demandware.store/Sites-zh-CN-Site/zh_CN/Order-History">订单详情</a></li>
                            <li><a href="https://cn.pandora.net/on/demandware.store/Sites-zh-CN-Site/zh_CN/Account-EditProfile">账户资料</a></li>
                            <li><a href="https://cn.pandora.net/on/demandware.store/Sites-zh-CN-Site/zh_CN/Wishlist-Show">愿望清单</a></li>
                            <li><a href="https://cn.pandora.net/on/demandware.store/Sites-zh-CN-Site/zh_CN/Order-Track">我的订单</a></li>
                            <li><a href="https://cn.pandora.net/on/demandware.store/Sites-zh-CN-Site/zh_CN/Order-Track">退换货</a></li>
                        </ul>
                        <p class="headlineAboutUs linkBlockHeadline">关于我们</p>
                        <ul>
                            <li><a href="https://cn.pandora.net/zh/cookie-policy/cookie-policy.html">Cookie政策</a></li>
                            <li><a href="https://cn.pandora.net/zh/privacy-policy/privacy-policy.html">隐私政策</a></li>
                            <li><a href="https://cn.pandora.net/zh/terms-and-conditions/terms-and-conditions.html">销售条款</a></li>
                            <li><a href="https://cn.pandora.net/zh/sitemap/sitemap.html">网站地图</a></li>
                        </ul>
                    </div>
                    <div class="toplinksBlock">
                        <p class="linkBlockHeadline" style="color: #dedde1;">关注PANDORA</p>
                    <div class="connect-width-pandora">
                    <div class="col-connect-width-pandora">
                        <ul>
                        <li class="weibo-pa"><a href="http://weibo.com/pandorajewellery" target="_blank"><span>微博</span> </a></li>
                        <li class="wechat-pa">
                            <div id="socialButtons"><a href="http://www.pandora.net/zh-cn/campaigns/zh/wechat" target="_blank"><span>微信</span> </a></div>
                        </li>
                        </ul>
                    </div>
                    </div>
                    </div>
                </div> 
            </div>
        </div>
        <div id="socialMediaFooter">
        <div class="inner-wrapper clearfix">
            <div class="content-asset">
                <div class="hide-desktop">
                    <div class="row-allrights-icp"><span class="all-rights">&copy; 2018 PANDORA 版权所有</span> <span class="all-rights"><a href="http://www.miibeian.gov.cn/" target="_blank">沪ICP备16041322号-1</a></span></div>
                </div>
                <div style="z-index: 8887;position:fixed; line-height:20px; margin-top:-40px; top:97%; right:5px;" border="0">
                    <a href="https://pandora.live800.com/live800/chatClient/chatbox.jsp?companyID=8978&amp;configID=3&amp;k=1&amp;live800_language=zh-cn" target="_blank"><img alt="" src="https://pandora.live800.com/live800/diy/0_online.png" style="cursor:pointer;border-left-width: 0px;" /></a>
                </div>
            </div>
        </div>
        </div>
        <div id="operationStatementFooter">
            <div class="inner-wrapper">
                <div class="content-asset">
                    PANDORA eSTORE is operated by Supplies Distributors SA.
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<!-- inject:js -->
<!-- endinject -->
