<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- inject:css -->
    <!-- endinject -->
</head>
<body>
	<div style="height:151px">
	<div class="header">

	<div class="header-top">
	<div class="left">
	<ul>
		<li>
			<a href=""><span>中国大陆</span></a>
		</li>
		<li>
			<a href=""><span>查找店铺</span></a>
		</li>
	</ul>
	</div>
	<div class="inner">
	<a href="/index/index.html"><img src="../../../images/Pandora_Logo.svg" alt=""></a>
	</div>
	<div class="right">
	<ul>
		<li>
			<a href=""><span>愿望清单</span></a>
		</li>
		<li>
			<a href=""><span>购物车</span></a>
		</li>
		<li>
			<a href="/login/login.html"><span>登录</span></a>
		</li>
	</ul>
	</div>
	</div>
	<div class="hide-desktop">
	<div class="n-c inner-wrapper clearfix">
	<nav>
		<ul>
			<li class="check">新品上市
				<div class="menu-wrapper contener" style="top:50px;display: none;">
					<ul class="level-2_inner">
						<li>
							<ul class="firstmenucomponent flymenu_left ">
								<div class=first>
									<li>
										<a href="/zh/NEW/Autumn/">
											秋季系列
										</a>
									</li>
								</div>
								<div>
									<li>
										<a href="https://cn.pandora.net/zh/collections/pre-autumn/">
											初秋系列
										</a>
									</li>
								</div>
								<div class=last>
									<li>
										<a href="https://cn.pandora.net/zh/collections/shine/">
											PANDORA SHINE系列
										</a>
									</li>
								</div>
							</ul>
						</li>
						<div class="forthmenucomponent flymenu_right">
							<div class="content-asset">
								<p><img alt="" src="https://cn.pandora.net/on/demandware.static/-/Sites-zh-CN-Library/default/dw309ecb52/images/flyout-new.jpg" title="" /></p>
							</div>
						</div>
					</ul>
				</div>
			</li>
			<li class="check">人气推荐
				<div class="menu-wrapper contener" style="top:50px; display:none">
					<ul class="level-2_inner">
						<li>
							<ul class="firstmenucomponent flymenu_left ">
								<div class=first>
									<li>
										<a href="/zh/NEW/Autumn/">
											秋季系列
										</a>
									</li>
								</div>
								<div>
									<li>
										<a href="https://cn.pandora.net/zh/collections/pre-autumn/">
											初秋系列
										</a>
									</li>
								</div>
								<div class=last>
									<li>
										<a href="https://cn.pandora.net/zh/collections/shine/">
											PANDORA SHINE系列
										</a>
									</li>
								</div>
							</ul>
						</li>
						<div class="forthmenucomponent flymenu_right">
							<div class="content-asset">
								<p><img alt="" src="https://cn.pandora.net/on/demandware.static/-/Sites-zh-CN-Library/default/dw309ecb52/images/flyout-new.jpg" title="" /></p>
							</div>
						</div>
					</ul>
				</div>
			</li>
			<li class="check">串饰
				<div class="menu-wrapper contener" style="top:50px; display:none">
					<ul class="level-2_inner">
						<li>
							<ul class="firstmenucomponent flymenu_left ">
								<div class=first>
									<li>
										<a href="/zh/NEW/Autumn/">
											秋季系列
										</a>
									</li>
								</div>
								<div>
									<li>
										<a href="https://cn.pandora.net/zh/collections/pre-autumn/">
											初秋系列
										</a>
									</li>
								</div>
								<div class=last>
									<li>
										<a href="https://cn.pandora.net/zh/collections/shine/">
											PANDORA SHINE系列
										</a>
									</li>
								</div>
							</ul>
						</li>
						<div class="forthmenucomponent flymenu_right">
							<div class="content-asset">
								<p><img alt="" src="https://cn.pandora.net/on/demandware.static/-/Sites-zh-CN-Library/default/dw309ecb52/images/flyout-new.jpg" title="" /></p>
							</div>
						</div>
					</ul>
				</div>
			</li>
			<li class="check">手链
				<div class="menu-wrapper contener" style="top:50px; display:none;">
					<ul class="level-2_inner">
						<li>
							<ul class="firstmenucomponent flymenu_left ">
								<div class=first>
									<li>
										<a href="/zh/NEW/Autumn/">
											秋季系列
										</a>
									</li>
								</div>
								<div>
									<li>
										<a href="https://cn.pandora.net/zh/collections/pre-autumn/">
											初秋系列
										</a>
									</li>
								</div>
								<div class=last>
									<li>
										<a href="https://cn.pandora.net/zh/collections/shine/">
											PANDORA SHINE系列
										</a>
									</li>
								</div>
							</ul>
						</li>
						<div class="forthmenucomponent flymenu_right">
							<div class="content-asset">
								<p><img alt="" src="https://cn.pandora.net/on/demandware.static/-/Sites-zh-CN-Library/default/dw309ecb52/images/flyout-new.jpg" title="" /></p>
							</div>
						</div>
					</ul>
				</div>
			</li>
			<li class="check">项链与吊坠
				<div class="menu-wrapper contener" style="top:50px;display: none; left: -264px;">
					<ul class="level-2_inner">
						<li>
							<ul class="firstmenucomponent flymenu_left ">
								<div class=first>
									<li>
										<a href="/zh/NEW/Autumn/">
											秋季系列
										</a>
									</li>
								</div>
								<div>
									<li>
										<a href="https://cn.pandora.net/zh/collections/pre-autumn/">
											初秋系列
										</a>
									</li>
								</div>
								<div class=last>
									<li>
										<a href="https://cn.pandora.net/zh/collections/shine/">
											PANDORA SHINE系列
										</a>
									</li>
								</div>
							</ul>
						</li>
						<div class="forthmenucomponent flymenu_right">
							<div class="content-asset">
								<p><img alt="" src="https://cn.pandora.net/on/demandware.static/-/Sites-zh-CN-Library/default/dw309ecb52/images/flyout-new.jpg" title="" /></p>
							</div>
						</div>
					</ul>
				</div>
			</li>
			<li class="check">戒指
				<div class="menu-wrapper contener" style="top:50px; display: none; left: -352px;">
					<ul class="level-2_inner">
						<li>
							<ul class="firstmenucomponent flymenu_left ">
								<div class=first>
									<li>
										<a href="/zh/NEW/Autumn/">
											秋季系列
										</a>
									</li>
								</div>
								<div>
									<li>
										<a href="https://cn.pandora.net/zh/collections/pre-autumn/">
											初秋系列
										</a>
									</li>
								</div>
								<div class=last>
									<li>
										<a href="https://cn.pandora.net/zh/collections/shine/">
											PANDORA SHINE系列
										</a>
									</li>
								</div>
							</ul>
						</li>
						<div class="forthmenucomponent flymenu_right">
							<div class="content-asset">
								<p><img alt="" src="https://cn.pandora.net/on/demandware.static/-/Sites-zh-CN-Library/default/dw309ecb52/images/flyout-new.jpg" title="" /></p>
							</div>
						</div>
					</ul>
				</div>
			</li>
			<li class="check">耳环
				<div class="menu-wrapper contener" style="top:50px; display:none; left: -352px">
					<ul class="level-2_inner">
						<li>
							<ul class="firstmenucomponent flymenu_left ">
								<div class=first>
									<li>
										<a href="/zh/NEW/Autumn/">
											秋季系列
										</a>
									</li>
								</div>
								<div>
									<li>
										<a href="https://cn.pandora.net/zh/collections/pre-autumn/">
											初秋系列
										</a>
									</li>
								</div>
								<div class=last>
									<li>
										<a href="https://cn.pandora.net/zh/collections/shine/">
											PANDORA SHINE系列
										</a>
									</li>
								</div>
							</ul>
						</li>
						<div class="forthmenucomponent flymenu_right">
							<div class="content-asset">
								<p><img alt="" src="https://cn.pandora.net/on/demandware.static/-/Sites-zh-CN-Library/default/dw309ecb52/images/flyout-new.jpg" title="" /></p>
							</div>
						</div>
					</ul>
				</div>
			</li>
			<li class="check">产品系列
				<div class="menu-wrapper contener" style="top:50px; display:none; left: -293px;">
					<ul class="level-2_inner">
						<li>
							<ul class="firstmenucomponent flymenu_left ">
								<div class=first>
									<li>
										<a href="/zh/NEW/Autumn/">
											秋季系列
										</a>
									</li>
								</div>
								<div>
									<li>
										<a href="https://cn.pandora.net/zh/collections/pre-autumn/">
											初秋系列
										</a>
									</li>
								</div>
								<div class=last>
									<li>
										<a href="https://cn.pandora.net/zh/collections/shine/">
											PANDORA SHINE系列
										</a>
									</li>
								</div>
							</ul>
						</li>
						<div class="forthmenucomponent flymenu_right">
							<div class="content-asset">
								<p><img alt="" src="https://cn.pandora.net/on/demandware.static/-/Sites-zh-CN-Library/default/dw309ecb52/images/flyout-new.jpg" title="" /></p>
							</div>
						</div>
					</ul>
				</div>
			</li>
			<li class="check">礼品
				<div class="menu-wrapper contener" style="top:50px; display:none; left: -352px;">
					<ul class="level-2_inner">
						<li>
							<ul class="firstmenucomponent flymenu_left ">
								<div class=first>
									
										<a href="/zh/NEW/Autumn/">
											秋季系列
										</a>
									
								</div>
								<div>
									<li>
										<a href="https://cn.pandora.net/zh/collections/pre-autumn/">
											初秋系列
										</a>
									</li>
								</div>
								<div class=last>
									<li>
										<a href="https://cn.pandora.net/zh/collections/shine/">
											PANDORA SHINE系列
										</a>
									</li>
								</div>
							</ul>
						</li>
						<div class="forthmenucomponent flymenu_right">
							<div class="content-asset">
								<p><img alt="" src="https://cn.pandora.net/on/demandware.static/-/Sites-zh-CN-Library/default/dw309ecb52/images/flyout-new.jpg" title="" /></p>
							</div>
						</div>
					</ul>
				</div>
			</li>
			<li class="check">灵感
				<div class="menu-wrapper contener" style="top:50px; display:none; left: -350px;">
					<ul class="level-2_inner">
						<li>
							<ul class="firstmenucomponent flymenu_left ">
								<div class=first>
									<li>
										<a href="/zh/NEW/Autumn/">
											秋季系列
										</a>
									</li>
								</div>
								<div>
									<li>
										<a href="https://cn.pandora.net/zh/collections/pre-autumn/">
											初秋系列
										</a>
									</li>
								</div>
								<div class=last>
									<li>
										<a href="https://cn.pandora.net/zh/collections/shine/">
											PANDORA SHINE系列
										</a>
									</li>
								</div>
							</ul>
						</li>
						<div class="forthmenucomponent flymenu_right">
							<div class="content-asset">
								<p><img alt="" src="https://cn.pandora.net/on/demandware.static/-/Sites-zh-CN-Library/default/dw309ecb52/images/flyout-new.jpg"
										title="" /></p>
							</div>
						</div>
					</ul>
				</div>
			</li>
		</ul>
	</nav>


	<div class="header-search desktop search">
		<img id="searchimg" class="searchimg" src="../../../images/search.jpg" alt="" />
		<input type="text" id="q" name="q" class="search-input-field" value="" placeholder="搜索/输入产品ID" autocomplete="off" autofocus />
		<i class="close-search" id="i"></i>
	</div>
	</div>
	</div>
	</div>
	</div>
	<div class="main">
		<div class="Louti">
			<div class="first">
				<ul>
					<li><a href="">购物满1500元免运费</a></li>
					<li><a href="">3个工作日内发货 提供礼品包装</a></li>
					<li><a href="">七天无理由退换货</a></li>
				</ul>
			</div>
		</div>
	
		<div class="Louti">
			<div class="picture">
				<div class="p-c" id="">
					<ul>
						<li>
							<div class="box-li" id="container">
								<img id="picture">
								<div class="info" id="info"><a href=""><span></span></a></div>
								<div id="order">
									<p></p>
								</div>
							</div>
						</li>
					</ul>
					<div class="btns">
						<div class="btn prev" id="prev"></div>
						<div class="btn next" id="next"></div>
					</div>
				</div>
			</div>
		</div>
	
		<div class="Louti">
			<div class="suggest">
				<div class="s-c">
					<span>人气推荐 </span>
					<a href="">更多</a>
				</div>
			</div>
			<div id="box" class="production">
				<div class="u1 ad" style="overflow: hidden">
					<ul id="imgs" style="overflow: hidden">
						<li>
							<a href="">
								<img src="../../../images/797200-1.jpg" alt="" />
								<p>神圣捕梦网串饰</p>
								<span>398.00CNY</span>
							</a>
						</li>
						<li>
							<a href="">
								<img src="../../../images/791725NMB-1.jpg" alt="" />
								<p>醉人月夜串饰</p>
								<span>398.00CNY</span>
							</a>
						</li>
						<li>
							<a href="">
								<img src="../../../images/797609-1.jpg" alt="" />
								<p>独角兽布鲁诺串饰</p>
								<span>398.00CNY</span>
							</a>
						</li>
						<li>
							<a href="">
								<img src="../../../images/567715CZ-1.jpg" alt="" />
								<p>神圣捕梦网串饰</p>
								<span>398.00CNY</span>
							</a>
						</li>
						<li>
							<a href="">
								<img src="../../../images/367683CZ-1.jpg" alt="" />
								<p>神圣捕梦网串饰</p>
								<span>398.00CNY</span>
							</a>
						</li>
						<li>
							<a href="">
								<img src="../../../images/791993CZ-1.jpg" alt="" />
								<p>神圣捕梦网串饰</p>
								<span>398.00CNY</span>
							</a>
						</li>
						<li>
							<a href="">
								<img src="../../../images/797200-1.jpg" alt="" />
								<p>神圣捕梦网串饰</p>
								<span>398.00CNY</span>
							</a>
						</li>
						<li>
							<a href="">
								<img src="../../../images/791725NMB-1.jpg" alt="" />
								<p>醉人月夜串饰</p>
								<span>398.00CNY</span>
							</a>
						</li>
						<li>
							<a href="">
								<img src="../../../images/797609-1.jpg" alt="" />
								<p>独角兽布鲁诺串饰</p>
								<span>398.00CNY</span>
							</a>
						</li>
						<li>
							<a href="">
								<img src="../../../images/567715CZ-1.jpg" alt="" />
								<p>神圣捕梦网串饰</p>
								<span>398.00CNY</span>
							</a>
						</li>
						<li>
							<a href="">
								<img src="../../../images/367683CZ-1.jpg" alt="" />
								<p>神圣捕梦网串饰</p>
								<span>398.00CNY</span>
							</a>
						</li>
						<li>
							<a href="">
								<img src="../../../images/791993CZ-1.jpg" alt="" />
								<p>神圣捕梦网串饰</p>
								<span>398.00CNY</span>
							</a>
						</li>
						<li>
							<a href="">
								<img src="../../../images/797200-1.jpg" alt="" />
								<p>神圣捕梦网串饰</p>
								<span>398.00CNY</span>
							</a>
						</li>
						<li>
							<a href="">
								<img src="../../../images/791725NMB-1.jpg" alt="" />
								<p>醉人月夜串饰</p>
								<span>398.00CNY</span>
							</a>
						</li>
						<li>
							<a href="">
								<img src="../../../images/797609-1.jpg" alt="" />
								<p>独角兽布鲁诺串饰</p>
								<span>398.00CNY</span>
							</a>
						</li>
						<li>
							<a href="">
								<img src="../../../images/567715CZ-1.jpg" alt="" />
								<p>神圣捕梦网串饰</p>
								<span>398.00CNY</span>
							</a>
						</li>
						<li>
							<a href="">
								<img src="../../../images/367683CZ-1.jpg" alt="" />
								<p>神圣捕梦网串饰</p>
								<span>398.00CNY</span>
							</a>
						</li>
						<li>
							<a href="">
								<img src="../../../images/791993CZ-1.jpg" alt="" />
								<p>神圣捕梦网串饰</p>
								<span>398.00CNY</span>
							</a>
						</li>
					</ul>
				</div>
				<div class="btn-lunbo2" id="arr"><span class="left-btn" id="left"></span><span class="rightbtn" id="rightbtn">></span></div>
			</div>
		</div>
	
		<div class="Louti">
			<div class="shoulian">
				<div class="s-c">
					<div class="sl1">
						<div class="s1">
							<img src="../../../images/s1.jpg" alt="" />
							<div class="get">
								<p>精选串饰</p>
								<a href="">立即选购</a>
							</div>
						</div>
						<div class="s2">
							<img src="../../../images/s2.jpg" alt="" />
							<div class="get">
								<p>精选串饰</p>
								<a href="">立即选购</a>
							</div>
						</div>
					</div>
					<div class="sl2">
						<img src="../../../images/sl2.jpg" alt="" />
						<div class="get">
							<p>生命之谷系列灵感</p>
							<a href="">马上选购</a>
						</div>
					</div>
					<div class="sl1 sl3">
						<div class="s1">
							<img src="../../../images/s4.jpg" alt="" />
							<div class="get">
								<p>精选手链</p>
								<a href="">立即选购</a>
							</div>
						</div>
						<div class="s2">
							<img src="../../../images/s5.jpg" alt="" />
							<div class="get">
								<p>秋季限量麦穗项链</p>
								<a href="">立即选购</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<div class="Louti">
			<div class="love">
				<div class="l-c">
					<h2>爱情守护者</h2>
					<p class="p1">勇敢的稻草人，增强你的安全感</p>
					<div class="box">
						<div class="left">
							<div class="img">
								<img src="../../../images/qiu1.jpg" alt="" />
								<div class="qiu">
									<a href="">探索秋季产品灵感</a>
								</div>
							</div>
							<div class="description">
								<h3>稻草人串饰</h3>
								<p>守护你，守护爱情</p>
								<p>如果说爱情就像秋季那一片金灿灿的麦田，那勇敢的稻草人就像爱情的守护者。让它守护在你们左右，助攻你们时刻甜蜜满分。</p>
								<div><a href="">马上选购</a></div>
							</div>
						</div>
						<div class="right">
							<img src="../../../images/qiu2.jpg" alt="" />
							<div class="qiu">
								<a href="">探索更多秋季新品</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <div class="bottom-email">
    	<div class="e-c">
    		<div class="left">
    			<div class="l-c">
    				<p>邮件订阅</p>
    				<p>注册并获取最新信息及优惠</p>
    				<p>第一时间了解新品上市，特别促销和品牌资讯</p>
    			</div>
    		</div>
    		<div class="right">
    			<form action="" method="post" novalidate="novalidate">
    				<input type="email" name="emailed" placeholder="填写您的电子邮箱" maxlength="50" class="email-signup"/>
						<button id="btnMale" class="btnmale" data-gender="Male" type="button">继续</button>
    			</form>
    		</div>
    	</div>
    </div>
	<div class="footer">
		<div class="inner-wrapper">
			<div id="linkFooter">
				<div class="content-asset">
					<div class="toplinksBlock">
						<p class="linkBlockHeadline">产品目录</p>
						<ul>
							<li><a href="#">新品上市</a></li>
							<li><a href="#">串饰</a></li>
							<li><a href="#">手链</a></li>
							<li><a href="#">项链与吊坠</a></li>
							<li><a href="#">戒指</a></li>
							<li><a href="#">耳环</a></li>
							<li><a href="#">礼品</a></li>
						</ul>
					</div>
					<div class="toplinksBlock">
						<p class="linkBlockHeadline">客户服务</p>
						<ul>
							<li><a href="#">配送 </a></li>
							<li><a href="#">退换货政策</a></li>
							<li><a href="#" target="_blank">尺寸指南</a></li>
							<li><a href="https://cn.pandora.net/zh/contact-us/contact-us.html">联系我们</a></li>
						</ul>
						<p class="linkBlockHeadline">关于PANDORA</p>
						<ul>
							<li><a href="#">PANDORA公司</a></li>
							<li><a href="#">寻找PANDORA店铺</a></li>
						</ul>
					</div>
					<div class="toplinksBlock">
						<p class="linkBlockHeadline">我的账户</p>
						<ul>
							<li><a href="#">订单详情</a></li>
							<li><a href="#">账户资料</a></li>
							<li><a href="#">愿望清单</a></li>
							<li><a href="#">我的订单</a></li>
							<li><a href="#">退换货</a></li>
						</ul>
						<p class="headlineAboutUs linkBlockHeadline">关于我们</p>
						<ul>
							<li><a href="https://cn.pandora.net/zh/cookie-policy/cookie-policy.html">Cookie政策</a></li>
							<li><a href="https://cn.pandora.net/zh/privacy-policy/privacy-policy.html">隐私政策</a></li>
							<li><a href="https://cn.pandora.net/zh/terms-and-conditions/terms-and-conditions.html">销售条款</a></li>
							<li><a href="https://cn.pandora.net/zh/sitemap/sitemap.html">网站地图</a></li>
						</ul>
					</div>
					<div class="toplinksBlock">
						<p class="linkBlockHeadline" style="color: #dedde1;">关注PANDORA</p>
					<div class="connect-width-pandora">
					<div class="col-connect-width-pandora">
						<ul>
						<li class="weibo-pa"><a href="http://weibo.com/pandorajewellery" target="_blank"><span>微博</span> </a></li>
						<li class="wechat-pa">
							<div id="socialButtons"><a href="http://www.pandora.net/zh-cn/campaigns/zh/wechat" target="_blank"><span>微信</span> </a></div>
						</li>
						</ul>
					</div>
					</div>
					</div>
				</div> 
			</div>
		</div>
		<div id="socialMediaFooter">
		<div class="inner-wrapper clearfix">
			<div class="content-asset">
				<div class="hide-desktop">
					<div class="row-allrights-icp"><span class="all-rights">&copy; 2018 PANDORA 版权所有</span> <span class="all-rights"><a href="http://www.miibeian.gov.cn/" target="_blank">沪ICP备16041322号-1</a></span></div>
				</div>
				<div style="z-index: 8887;position:fixed; line-height:20px; margin-top:-40px; top:97%; right:5px;" border="0">
					<a href="#" target="_blank"><img alt="" src="https://pandora.live800.com/live800/diy/0_online.png" style="cursor:pointer;border-left-width: 0px;" /></a>
				</div>
			</div>
		</div>
		</div>
		<div id="operationStatementFooter">
			<div class="inner-wrapper">
				<div class="content-asset">
					PANDORA eSTORE is operated by Supplies Distributors SA.
				</div>
			</div>
		</div>
	</div>

	<div id="LoutiNav">
		<ul>
			<li>1F <span>童话</span> </li>
			<li>2F <span>人气</span> </li>
			<li>3F <span>生命</span> </li>
			<li>4F <span>限定</span> </li>
			<li>5F <span>手链</span> </li>
			<li>6F <span>LOVE</span> </li>
			<li class="last">Top</li>
		</ul>
	</div>

</body>
</html>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<!-- inject:js -->
<!-- endinject -->

<!-- <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script>
	function $id(id){
		return document.getElementById(id);
	}
	function c(a){
		return document.getElementsByClassName(a);
	}
	
	/*$id("i").onclick=function(){
		$id("i").style.display="none";
		$id("q").style.display="none";
	}*/
	$('.js-kind-link').on('mouseenter',function(){
        $(this).css("background","#fff").siblings().css("background","#fafafa")
        $('.js-right-detail').css('display','block')
        $('.js-kind-details').eq($(this).index()).css('display','block').siblings().css('display','none')
    });
    $('.js-kind-list').on('mouseleave',function(){
        $('.js-kind-link').css("background","#fafafa")
        $('.js-right-detail').css('display','none')
        $('.js-kind-details').eq($(this).index()).css('display','none')
    });

</script> -->